body {
  background-color: #fff;
  color: #777;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin:0px auto;
}

header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  border: 2px solid blue;
  position: fixed;
  z-index: 1;

}
header h1 {
  float: left;
  padding: 10px 0px 20px 20px;
  font-size: 45px;
}
.navbar-inverse {
  background: #213b61;
}

.navbar-inverse .navbar-nav>a {
  color: #ff0000;
}
.navbar-brand {
  font-size: 20px;
}

#hero-image {
  width: 100%;
  height: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
  background: #e8eced url('../images/hero2.jpg') no-repeat;
  background-size: cover;
}

p{
  font-size:20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.thumbnail {
  border: 1px solid #1A2A42;
}

.bottom {
  margin-bottom:2%;
}
.hypeColorWhite {
  color: #fff;
}

.hypeColorOrange {
  color: #FF8C00;
}
a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #02b8dd; /* blue for hover */
}

.websitesImg{
  width: 400px;
  height: inherit;
}
small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}

.clear {
  clear: both;
}
.darkFont {
    color: #777;
}

.lighter {
  background-color: #e8e8e8;
  border-radius: 5px;
  /*margin:1%;*/
}

.darker {
  background-color: #1A2A42;
  color: #fff;
  border-radius: 5px;
}
.darkerBg {
  background-color: #1A2A42;
  color: #fff;
}
.gray {
  background-color: #ccc;
  border-radius: 5px;
  /*margin:1%;*/
}
.tan {
  background-color: #E8DECD;
  color: #999;
  border-radius: 5px;
  padding:1%;
}
.light_title {
  color: #fff;
}
.brown {
  background-color: #444;
}
.right {
  float: right;
}
.cushion {
  padding:2%;
}
#contactPage {
  /*background-color: #f8fafa;*/
  margin:50% 0;
  width: 50%;
/*  padding: 60px 0;*/
  text-align: center;
  display: inline-block;
}
.centerMe {
  text-align: center;
}
.box {
  margin: 2% 10% 2% 10%;
  /*margin:0 auto;*/
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 7px;
  opacity: 0.5;
  font-weight: bold;
  color: #000000;
}

.boxP {
  font-weight: bold;
  color: #000000;
}
.more-link {
  border: 1px solid #02b8dd;
  color: #02b8dd;
  padding: 6px 20px;
  border-radius: 3px;
}

.more-link:hover {
  background-color: #02b8dd;
  color: #fff;
}
footer {
  height: 75px;
  color: #fff;
  padding-bottom: 10px;
  background-color: #524742;
}
footer a {
  color: #fff;
}
footer nav ul li a {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 20px;
}

.smallerFont {
  font-size: 1em;
}
.smallerPic {
  width: 30%;
  margin: 1%;
}
.btn-default {
    color: #444;
    background-color: #02b8dd;
    border-color: #ccc;
    border-radius: 5px;
}
#footer-info {
  font-size: 15px;
  float: left;
}

#footer-links {
  width: 50%;
  float: right;
  margin-right: 30px;
/*  margin-top:10px;*/
}

#footer-links ul {
  padding: 0px 0px 0px 25px;
  line-height: 20px;
  float: right;
  display: inline-block;
}

#footer-links ul li {
  margin: 5px 0;
  list-style: none;
  display:inline-block;
}
/* photo effect for apple overlay on website pics */
.photoContainer {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  cursor:pointer;
}

/*.pic {
  width: 40%;
  height: inherit;
}*/
/*.picbig {
  position:absolute;
  padding: 5px;
  width:0px;
  -webkit-transition:width 0.3s linear 0s;
  trnsition: width 0.3s linear s;
  z-index: 10;
}
.pic:hover + .picbig {
  width: 400px;
}*/
.contact {
  border: 2px solid gray;
  border-radius: 5px;
  display: block;
  width: 60%;
  height: inherit;
  vertical-align: middle;
  margin: 0 auto;
  padding: 5%;
  background-color: #E8DECD;
}

.deep {
  height: 50px;
}
.mailText {
    font-size:25px;
    color: #000;
    line-height: 30px;
    margin-bottom: 20px;
}
/* thumbnail white border */
.thumbnailWhite {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #fff;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
}

.col-md-6 {
    width: 48%;
    margin: 1%;
}
@media screen and (max-width:1024px) {
.col-md-6 {
    width: 90%;
    margin: 1%;
}
}
@media screen and (max-width:500px) {

.box {
    margin: 2% 10% 2% 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 7px;
    opacity: 0.8;
    font-weight: bold;
    color: #000000;
    margin-top: 15%;
}

bootstrap.css:1958
.h3 {
  font-size:15px;
}

.col-md-6 {
    font-size: 14px;
    width: 90%;
    margin: 2%;
    padding: 2%;
}
.contact {
    border: 2px solid gray;
    border-radius: 5px;
    display: block;
    width: 90%;
    height: inherit;
    vertical-align: middle;
    margin: 0 auto;
    padding: 5%;
    background-color: #E8DECD;
}
.smallerFont {
    font-size: .7em;
}
footer {
  height: 50px;
  color: #fff;
  padding-bottom: 10px;
  background-color: #524742;
}
#footer-links {
    width: 50%;
    float: right;
    margin-right: 30px;
    /* margin-top: 10px; */
    display: none;
}
}
